// Fonts
@import url(https://fonts.googleapis.com/css?family=DM+Sans:400,700);
$font-family-sans-serif: "DM Sans", Regular Regular, serif !default;

// Title
$title-font-size: 4rem !default;
$title-font-weight: 700 !default; // 700 is bold

// Subtitle
$subtitle-font-size: 2rem !default;
$subtitle-font-weight: 700 !default;

// Author
$author-font-size: 1.33rem !default;

// Date
$date-font-size: 2rem !default;
