// Grid layout helper
@mixin grid-layout($ncol: 2) {
    display: grid;
    $column-width: percentage(1 / $ncol); // Calculate the column width as a percentage

    // Create a list of column widths
    $columns: ();
    @for $i from 1 through $ncol {
        $columns: append($columns, $column-width); // Append the column width to the list
    }

    grid-template-columns: #{$columns}; // Interpolate the list into grid-template-columns
    column-gap: $default-col-gap;
    row-gap: $default-row-gap;
}

// Create descendant classes from mixin
.grid-layout-2 {
    @include grid-layout(2); // Generates "grid-template-columns: 50% 50%;"
}

.grid-layout-3 {
    @include grid-layout(3); // Generates "grid-template-columns: 33% 33% 33%;"
}

.grid-layout-4 {
    @include grid-layout(4); // Generates "grid-template-columns: 25% 25% 25% 25%;"
}

.grid-layout-5 {
    @include grid-layout(5); // Generates "grid-template-columns: 20% 20% 20% 20%;"
}

// Output
.cell-output {
    text-align: center;

    img {
        margin-bottom: 0 !important;
    }

    p {
        color: darken($color-pale-grey, 40%);
        font-size: smaller;
        margin-top: 0;
        text-align: center;
    }
}
