b,
strong {
    color: $color-primary;
}

ul > li > ul > li {
    font-size: smaller;
}

aside p {
    color: darken($color-pale-grey, 40%);
}

.reveal .progress {
    color: $color-primary;
}

.reveal .slide-logo {
    max-height: 6rem !important;
}

.reveal > .backgrounds {
    z-index: -1;
}

.reveal .sourceCode {
    outline: thin solid darken($color-pale-grey, 10%) !important;
    border: none !important;
    background-color: $color-pale-grey !important;
}

// Title slide
.reveal .slide-background.quarto-title-block {
    background-color: $presentation-heading-color;
    background-image: $img-logo-negative;
    background-size: 35%;
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

#title-slide {
    .title,
    .subtitle,
    .institute,
    .quarto-title-authors,
    .date {
        color: #ffffff !important;
        text-shadow: none;
        text-align: left;
        max-width: 60%;
    }

    .title {
        font-weight: $title-font-weight;
        font-size: $title-font-size;
    }

    .subtitle {
        font-size: $subtitle-font-size;
    }

    .date {
        font-size: $date-font-size;
    }

    .quarto-title-authors {
        font-size: $author-font-size;
        display: block;
    }
}

// Footer
.reveal .footer {
    color: $color-primary;
}

// Dark background slides
.reveal.has-dark-background .slide-number {
    display: none !important;
}

.reveal.has-dark-background .progress,
.reveal.has-dark-background .footer {
    color: #ffffff !important;
}

.reveal.has-dark-background .slide-logo {
    display: none;
}

// Transition slides
.reveal .slide-background.slide.level1 {
    background-color: $color-pale-blue;
}

.reveal .slide.level1 {
    text-align: center;
    font-size: 3rem;
    h1 {
        font-size: 2.5rem;
        color: $color-plum;
    }
}

.reveal .h2 {
    color: $color-primary !important;
}
