/*-- scss:defaults --*/

// Fonts
@import url(https://fonts.googleapis.com/css?family=DM+Sans:400,700);
$font-family-sans-serif: "DM Sans", Regular Regular, serif !default;

// Color palette
$color-primary: #570033 !default;
$color-secondary: #FD886F !default;
$color-pale-rose: #FEECEC !default;
$color-pale-blue: #EAF4F5 !default;
$color-pale-grey: #F0F0F0 !default;

// Logo
$img-logo-positive: url("https://raw.githubusercontent.com/simonsteiger/kise/main/_extensions/kise/logo_positive.svg");
$img-logo-negative: url("https://raw.githubusercontent.com/simonsteiger/kise/main/_extensions/kise/logo_negative.svg");

// Title
$title-font-size: 4rem !default;
$title-font-weight: 700 !default; // 700 is bold
// Subtitle
$subtitle-font-size: 2rem !default;
$subtitle-font-weight: 700 !default;
// Author
$author-font-size: 1.33rem !default;
// Date
$date-font-size: 2rem !default;

// Colors
$presentation-heading-color: $color-primary;

// Light and dark
$bg-light: #ffffff !default;
$text-light: #ffffff !default;
$bg-dark: $color-primary !default;
$text-dark: $color-primary !default;
// Link & Code
$link-color: $color-primary !default;
$code-color: $color-primary !default;

/* TODO: Customize presentation appearance by setting SCSS variables */
/* See https://quarto.org/docs/presentations/revealjs/themes.html#customizing-themes */

/*-- scss:rules --*/

// DEFAULT
.reveal .progress {
    color: $color-primary;
}

.reveal .slide-logo {
    max-height: 6rem !important;
}

.reveal > .backgrounds {
    z-index: -1;
}

.reveal .sourceCode {
    outline: thin solid $color-primary !important;
    border: none !important;
    background-color: $color-pale-rose !important;
}

// TITLE SLIDE 
.reveal .slide-background.quarto-title-block {
    background-color: $presentation-heading-color;
    background-image: $img-logo-negative;
    background-size: 35%;
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

#title-slide {

    .title, .subtitle, .institute, .quarto-title-authors, .date {
        color: #ffffff !important;
        text-shadow: none;
        text-align: left;
        max-width: 60%;
    }

    .title {
        font-weight: $title-font-weight;
        font-size: $title-font-size;
    }

    .subtitle {
        font-style: italic;
        font-weight: $subtitle-font-weight;
        font-size: $subtitle-font-size;
    }

    .date {
        //font-style: italic;
        font-size: $date-font-size;
    }

    .quarto-title-authors {
        font-size: $author-font-size;
        display: block;
    }

}

// FOOTER
.reveal .footer {
    color: $color-primary;
}

// DARK BACKGROUND SLIDES
.reveal.has-dark-background .slide-number {
    display: none !important;
}

.reveal.has-dark-background .progress,
.reveal.has-dark-background .footer {
    color: #ffffff !important;
}

.reveal.has-dark-background .slide-logo {
    display: none;
}

// TRANSITION SLIDES
.reveal .slide-background.slide.level1 {
    background-color: $color-primary;
    background-image: $img-logo-negative;
    background-size: 35%;
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

.reveal .slide.level1 > h1 {
    color: #ffffff;
}

.reveal .h2 {
    color: $color-primary !important;
}

// LAYOUT HELPERS
.layout-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.layout-multi {
    display: flex;
    justify-content: space-around;
}
